* {
    padding: 0;
    margin: 0;
}
.containerHome .presentation {
    /* margin-top: 80px; */
    border: 2px solid;
    width: 100%;
    height: 500px;
}

.containerHome .presentation img {
    border: 2px solid red;
    width: 100%;
    height: 500px;
}

.containerHome {
    /* border: 2px solid white;  */
    margin-top: 70px;
    padding: 10px;
    color: white;
    width: 100%;
}



/*///////////////// Carrrousel image /////////////////*/
.content-main-movie {
    border: 2px solid white;
    display: flex;
    width: 100%;
    height: 500px;
    gap: 10px;
    /* justify-content: center; */
    overflow: auto;
}

/*//// Ajouter une background image avec les info par dessus en z-index///////////////*/
/*//////////// À SUPPRIMER ///////////////*/
.carouselBox {
    margin-top: 50px;
    border-top: 2px solid ; 
    border-bottom: 2px solid; 
    border-radius: 70px;
    box-shadow: 10px 10px 10px 7px rgb(50, 50, 50);
    padding: 10px;
    margin-bottom: 20px;
}

.carouselBox button {
    border-top: 2px solid ; 
    border-bottom: 2px solid; 
    border-radius: 70px;
    box-shadow: 10px 10px 10px rgb(50, 50, 50);
    padding: 10px;
    margin-bottom: 20px;
}



.carousel-inner img {
    /* border: 2px solid; */
    border-radius: 20px;
    box-shadow: 4px 4px 4px black;
    width: 420px;
    height: 530px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out

}

.carousel-inner img:hover {
    border: 1px solid grey;
    transform: scale(1.02);
    

}

.carousel-inner img:active {
    /* border: 2px solid; */
    border: 4px solid black;
}


/*//////////////// Container Trending //////////////////////////////////////////////////////////////////////////////////////////3*/

.containerTrending {
    /* border: 2px solid;     */
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: center;
    /* overflow-x: hidden; */
}

.containerHome .rate {
    border-left: 5px solid rgba(255, 0, 0, 0.815);
    padding-left: 10px;
    font-weight: bold;
}


/*//////// top description/////////////*/
:root {
    --gold: white;
    --light-shadow: #1a1a1a;
    --dark-shadow: white;

    /* --gold: black;
    --light-shadow: white;
    --dark-shadow: white; */
  }
.wrapper {
    border-left: 5px solid white;
    padding-left: 15px;
    background: radial-gradient(#272727, #1b1b1b);
    display: grid;
    grid-template-areas: 'overlap';
    place-content: center;
    text-transform: uppercase;
    /* text-align: left; */
    float: left;
    /* height: 100vh; */
  }
  .wrapper > div {
    /* text-align: left; */
    background-clip: text;  
    -webkit-background-clip: text;
    color: #363833;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 50px;
    grid-area: overlap;
    letter-spacing: 1px;
    -webkit-text-stroke: 4px transparent;
  }
  div.bg {
    background-image: repeating-linear-gradient( 105deg, 
      var(--gold) 0% , 
      var(--dark-shadow) 5%,
      var(--gold) 12%);
    color: transparent;
    filter: drop-shadow(5px 15px 15px black);
    transform: scaleY(1.05);
    transform-origin: top;
  }
  div.fg{
    background-image: repeating-linear-gradient( 5deg,  
      var(--gold) 0% , 
      var(--light-shadow) 23%, 
      var(--gold) 31%);
    color: #1e2127;
    transform: scale(1);
  }
/*/////////////////////*/


.containerTrending button:hover {
    border: 1px solid white;
    transform: scale(1.02);
}

.containerTrending button:active {
    border: 1px solid black;
}

.containerHome .trending {
    /* border: 2px solid;     */
    width: 100%;
    /* margin: 15px; */
    padding: 10px;
    display: flex;  
    /* flex-wrap: wrap;
        // créer un slider/swiper à la place ces mieux pour l'interaction et plus amusannt
    */
    overflow: auto;
    gap: 15px;
    align-items: center;
    /* justify-content: center;     */
    border-radius: 20px;
}



