/*/// ajouter des -  a tous sles nom de container pour une meilleur lecture*/


.container-detail {
    border: 2px solid;
    margin-top: 80px;
    width: 80%;
}


.movie-detail {
    position: relative;
    z-index: 1;
    /* border: 2px solid;  */
    margin-top: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-top: 3px solid rgb(227, 222, 222);
    border-bottom: 3px solid rgb(227, 222, 222);
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    height: 600px;
    color: whitesmoke;   
    display: flex;
    gap: 10px;
    background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
    transition: transform 0.3s ease-in-out;
}

.movie-detail:hover {
    transform: scale(1.009);
}


/*///////////////////// container Image Movie //////////////////////////////*/

.movie-detail .movie-image img {
    /* border: 2px solid red;  */
    box-shadow: 2px 2px 2px 2px rgb(95, 95, 95);
    border-radius: 10px ;
    width: 500px;
    height: 100%;
    background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
    transition: transform 0.3s ease-in-out;
}

.movie-detail .movie-image img:hover {
    transform: scale(0.98);
    border: 2px solid grey;

}

.container-detail .content-actor .card-actor img {
    max-width: 300px;
}

/*///////////////////// container movie Info //////////////////////////////*/

.movie-detail .movie-info {
    /* border: 2px solid; */
    width: 100%;
    height: 580px;
    /* border-radius: 20px; */
}

/*///////////////////// navbar //////////////////////////////*/

/* Add a black background color to the top navigation */
.movie-detail .movie-info .nav {
    border: 2px solid rgb(205, 202, 202);  
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    min-width: 600px;
    box-shadow: 5px 5px 5px 5px rgb(77, 74, 74);
}

/* Style the links inside the navigation bar */
.movie-detail .movie-info .nav a {
    cursor: pointer;
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.movie-detail .movie-info .nav a:hover {
    color: gold;
}


/*//////// Content Info //////////////////////////////////////////////*/
.movie-detail .movie-info .content-info {
    display: block;
    text-align: left;
    padding: 10px;
    max-height: 95%;
    border: 2px solid;
    overflow-y: scroll; 
}
.movie-detail .movie-info .content-info p{
    text-decoration: none;
    text-align: left;
}

.movie-detail .movie-info .content-info .rate{
    display: flex;
    /* border: 2px solid; */
    gap: 7px;
}
.movie-detail .movie-info .content-info .rate #r{
    font-size: 15px;
    color: white;
    padding: 2px;
    border-radius: 5px;
    background-color: rgb(36, 97, 242);
}

.movie-detail .movie-info .content-info .rate #OMDb{
   /* border: 2px solid; */
   font-size: 15px;
   color: white;
   padding: 2px;
   border-radius: 5px 0px 0px 5px;
   background-color: orange;
   font-weight: bolder;
   
}
.movie-detail .movie-info .content-info .rate #OMDb:hover {
    color: black;
    cursor: pointer;
    font-weight: bolder;
}

.movie-detail .movie-info .content-info .rate #rating{
   /* border: 2px solid; */
   font-size: 15px;
   color: black;
   padding: 2px;
   border-radius: 0px 5px 5px 00px;
   background-color: white;

}


.movie-detail .movie-info .content-info strong {
    color: whitesmoke;
    /* display: block; */
    text-shadow: 2px 2px black;

}

/*//////// Content info actor 2//////////////////////////////////////////////*/

.movie-detail .movie-info .content-actor2 {
    /* border: 2px solid red; */
    
    overflow-y: scroll;
    max-height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movie-detail .movie-info .content-actor2 .card-actor2 {
    display: flex;
    align-items: center;
    width: 250px;
    /* border: 2px solid yellow;  */
}  

.movie-detail .movie-info .content-actor2 .card-actor2 img {
    width: 150px;
}


/*//////// Content info Actor 1//////////////////////////////////////////////*/

.container-detail .content-actor {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 400px; 
    overflow-x: auto;
    overflow-y: hidden;
}
.container-detail .content-actor .card-actor {
    position: relative;
    z-index: 1;
    
    /* border: 2px solid green;  */
    border-radius: 10px;
    background-color: rgb(230, 222, 222);
    transition: transform 0.3 ease-in-out;
    box-shadow: 2px 2px 2px 2px #1a1a1a;
}

.container-detail .content-actor .card-actor strong {
    cursor: pointer;
}

.container-detail .content-actor .card-actor strong:hover {
    color: grey;
}

.container-detail .content-actor .card-actor img {
    /* border: 2px solid white; */
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}
.container-detail .content-actor .card-actor p {
    /* border: 2px solid white; */
    text-decoration: none;
    color: grey;
    cursor: pointer;
}
.container-detail .content-actor .card-actor:hover{
    transform: scale(1.01);
}


/*//////// Content info media //////////////////////////////////////////////*/
.container-detail .container-nav-media {
    position: relative;
    z-index: 1;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between; 
}

.container-detail .nav-media {
    display: flex;
    color: white;
    gap: 60px;
    margin-right: 1000px;
    align-items: center;
}

.container-detail .container-nav-media a {
    /* border: 2px solid; */
    padding: 3px;
}
.container-detail .container-nav-media a:hover {
    cursor: pointer;
    border-bottom: 2px solid;
    color: rgb(198, 196, 196);
} 




.container-detail .media {
    /* margin-left: 300px; */
    /* border: 2px solid yellow; */
    display: flex;
    width: 100%;
    height: 400px;
    overflow: auto;
}

.container-detail .media .media-video {
    position: relative;
    z-index: 1;
    /* border: 2px solid red red;  */
    display: flex;
    border-radius: 10px;
    box-shadow: 4px 4px whitesmoke;
    /* height: 100%; */
    
}

.container-detail .media iframe {
    border: 2px solid;
    width: 700px;
    height: 100%;
}


/*//////// Content info recommendation //////////////////////////////////////////////*/

.container-detail .recommandations {
    border: 2px solid; 
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%; 
    overflow-x: auto;
}


.container-detail h3 {
    text-align: left;
    color: whitesmoke;
}

